version: '3.8'

networks:
  attack_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.0.0/16
  victim_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.19.0.0/16

services:
  router:
    build:
      context: .
      dockerfile: Dockerfile.router
    container_name: router
    hostname: router
    privileged: true
    networks:
      attack_network:
        ipv4_address: 172.18.0.22
      victim_network:
        ipv4_address: 172.19.0.22
    cap_add:
      - NET_ADMIN
  attacker:
    build:
      context: .
      dockerfile: Dockerfile.attacker
    container_name: attacker
    hostname: attacker
    privileged: true
    networks:
      attack_network:
        ipv4_address: 172.18.0.11
    cap_add:
      - NET_ADMIN
    tty: true
    command: "/bin/bash -c 'ifconfig lo:1 192.168.0.11 netmask 255.255.255.255 up && route add -net 172.19.0.0/16 gw 172.18.0.22 && route add -net 192.169.0.0/24 gw 172.18.0.22 || true && exec /bin/bash'"

  victim:
    build:
      context: .
      dockerfile: Dockerfile.victim
    container_name: victim
    hostname: victim
    privileged: true
    networks:
      victim_network:
        ipv4_address: 172.19.0.33
    cap_add:
      - NET_ADMIN
    tty: true
    command: "/bin/bash -c 'ifconfig lo:1 192.169.0.33 netmask 255.255.255.255 up && route add -net 172.18.0.0/16 gw 172.19.0.22 && route add -net 192.168.0.0/24 gw 172.19.0.22 || true && exec /bin/bash'"
